<!-- <ul class="nav nav-tabs">
    <li class="nav-item" *ngFor=" let tab of tabs">
        <a class="nav-link" [class.active]="activeTab===tab.id" (click)="setActiveTab(tab.id)">
            {{tab.label}}
        </a>
    </li>
</ul>
<div class="tab-content">
    <ng-container *ngFor="let tab of tabs">
        <div class="tab-pane" [class.show]="activeTab === tab.id" [id]="tab.id">
            <ng-container *ngComponentOutlet="tab.component"></ng-container>
        </div>
    </ng-container>
</div> -->

<ul class="nav nav-tabs px-2 mx-2">
    <li class="nav-item" *ngFor="let tab of tabs">
        <a class="nav-link"
           [class.active]="activeTab === tab.id"
           [class.disabled]="!tab.status"
           (click)="loadComponent(tab)">

            <i class='bx bxs-check-circle text-success mx-1'></i>

            {{ tab.label | translate}}</a>
    </li>
</ul>
<div class="tab-content p-0 pt-0 ">
    <ng-container *ngFor="let tab of tabs">
        <div class="tab-pane" [class.show]="activeTab === tab.id" [id]="tab.id">
            <ng-container *ngIf="tab.id === activeTab">
                <ng-container [ngSwitch]="tab.id">
                    <div class="card">
                        <ng-content select="[tab1]" *ngSwitchCase="'tab1'"></ng-content>
                        <ng-content select="[tab2]" *ngSwitchCase="'tab2'"></ng-content>
                        <ng-content select="[tab3]" *ngSwitchCase="'tab3'"></ng-content>
                        <ng-content select="[tab4]" *ngSwitchCase="'tab4'"></ng-content>
                        <ng-content select="[tab5]" *ngSwitchCase="'tab5'"></ng-content>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</div>
  