<app-header [isMenu]="false"></app-header>
<main id="mainInner">
  <app-page-heading></app-page-heading>
  <div class="container-fluid mt-2">
    <section class="content-section">
      <app-sidebar></app-sidebar>
      <form class="view-page">
        <h2>{{'USER_DETAILS' | translate}}</h2>
        <div class="border p-3 rounded-top">
          <div class="row">
              <div class="col-md-3 mb-3">
                <div class="card">
                  <div class="card-body">
                    <div class="d-flex flex-column align-items-center text-center">
                      <!-- <img src="../../../assets/img/user.svg" alt="User-Profile-Image" class="user-image rounded-circle" width="125"> -->
                      <div class="mt-3">
                        <p class="text-secondary mb-1 label"><strong>{{ 'NAME' | translate}}:</strong>
                          <span class="value"> {{userDetails?.name}}</span>
                        </p>


                      </div>
                    </div>
                  </div>
                </div>
                <div class="card mt-3">
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                      <h6 class="mb-0  label">{{'DESIGNATION' | translate}}</h6>
                      <span class="text-primary value">{{userDetails?.designation?.name}}</span>
                    </li>

                  </ul>
                </div>
              </div>
              <div class="col-md-9">


                <div class="row gutters-sm">
                  <div class="col-lg-12 mb-3">
                     <div class="card h-100">
                       <div class="card-body">
                          <h5 class="d-flex align-items-center mb-3 label"><i class="material-icons text-info me-2">contacts</i>  {{ 'GLOBAL_CONTACT_US' | translate}}</h5>

                         <div class="row">
                           <div class="col-sm-4">
                             <h6 class="mb-0 label">{{'GLOBAL_EMAIL' | translate}}</h6>
                           </div>
                           <div class="col-sm-8 text-secondary value">
                            {{userDetails?.email}}
                           </div></div><hr />
                           <div class="row">
                           <div class="col-sm-4">
                             <h6 class="mb-0 label">{{'GLOBAL_MOBILE'| translate }}</h6>
                           </div>
                           <div class="col-sm-8 text-secondary value">
                            {{userDetails?.mobile}} <i class='bx bxs-check-circle text-success mx-1' ></i> <small class="text-success">{{'Verified' | translate}}</small>

                           </div>
                         </div>
                         <hr>
                       </div>
                     </div>
                    </div>

                  <div class="col-sm-12 mb-3">
                    <div class="card h-100">
                      <div class="card-body">
                        <h6 class="d-flex align-items-center mb-3 label"><i class="material-icons text-info me-2">landscape</i>  {{'ASSIGN_ROLES'| translate}}
                        </h6>
                        <div class="row">
                           <div class="col-lg-12">
                            <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>{{'GLOBAL_SCHEME' | translate}}</th>
                                <th>{{'GLOBAL_PROJECT' | translate}}</th>
                                <th>{{'GLOBAL_LEVEL_OFFICE_TYPE' | translate}}</th>
                                <th>{{'GLOBAL_OFFICE' | translate}}</th>
                                <th>{{'GLOBAL_ROLE' | translate}}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let role of userDetails.roles">
                                <td>{{ role.scheme.schemeName }}</td>
                                <td>{{ role.project.projectName }}</td>
                                <td>{{ role.officeType.officeTypeName }}</td>
                                <td>{{ role.officeName.officeName }}</td>
                                <td>{{ role.role.roleName }}</td>
                              </tr>
                            </tbody>
                            </table>
                           </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div></div>
            </div>
            <div class="d-flex bd-highlight bg-white mt-3 mt-0 bg-light p-2 rounded-bottom border border-top-0">
             <div class="bd-highlight">
               <app-buttons [lable]="actionButton.BACK | translate" [btnType]="'button'"
                 cssClass="btn-outline-danger ps-4 pe-4" [routerLink]="['/', userListRoutes]">
               </app-buttons>
             </div>
             <div class="ms-auto bd-highlight">
             </div>
          </div>

          </form>


</section>
</div>
</main>

<app-footer [isBottomFooter]="false"></app-footer>
