

.topbar {
    height: 28px;
    color: #000;
    line-height: 28px;
    font-size: 11px;
    border-bottom: solid 1px #ccc;
  }
  .language { border: none; outline: none;   scroll-behavior: smooth;
    display: inline;  background:var(--dark);  color: #fff;
  }
  .form-switch {
    line-height: 26px;
}
.scheme-submenu {height: 300px; overflow-y: auto;   width: 350px;
}
.pointer {cursor: pointer;}
.pointer:hover {color: #ffc451;}

.nav_color {
background: #09599b;

}
.navbar .btn_drp ul{
  top: calc(100% + 17px) !important;
  left: 0px !important;
}


.topbar-right ul {
  margin: 0;
  padding: 0;
}
.topbar-right li {
  list-style: none;
  display: inline;
  border-right: 1px solid #09599b;
}
.topbar-right li:last-child {
  border-right: medium none;
}
.topbar-right li a {
  padding: 0 .6rem;
  color: #09599b;
  font-size: 12px;
  text-transform: uppercase;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  color: #fff;
  background-color: #fff !important;
}
@media (max-width:767px) {
  .d_none {
    display: none;
  }
  .topbar-right span {
    padding: 0;
}
.topbar-right span a {
  font-size: 10px;
}
}


