<!-- ======= Header ======= -->

<header id="header" class="fixed-top">
  <div class="topbar white-bg">
    <div class="container-fluid">
      <div class="row">
        <!-- <div class="col-lg-3 d-none d-sm-block">
      </div> -->
        <div class="col-lg-9 offset-lg-6 col-md-12 text-start-mobile pa-0 topbar-right">

          <span><a routerLink="/screen-reader" class=" d_none">{{'GLOBAL_SCREEN_READER' | translate}}</a> |
          </span>

          <span class="pointer" (click)="changeLanguage()">
            {{displayLanguage}}

            &nbsp; |</span>
          <span (click)="scroll()" class="pointer  d_none">{{'GLOBAL_SKIP_TO_MAIN' | translate}} &nbsp; | </span>
          <span class="pointer  d_none" (click)="increaseFontSize()">A+ &nbsp; | </span>
          <span class="pointer d_none" (click)="resetFontSize()">A &nbsp; | </span>
          <span class="pointer d_none" (click)="decreaseFontSize()">A- &nbsp; |</span>
          <span>
            <div class="form-check form-switch">
              <input class="form-check-input mt-2" type="checkbox" role="switch" id="toggleStyle"
                (click)="toggleTheme($event)" [checked]="isSavedTheme" />
              <label class="form-check-label" for="flexSwitchCheckDefault">{{'GLOBAL_DARK_LIGHT_MODE' |
                translate}}</label>
            </div>
          </span>
        </div>
        <!-- <h5>{{'MOBILE_NO' | translate}}</h5> -->
      </div>
    </div>
  </div>
  <div class="menu-bar">
    <div class="container-fluid d-flex align-items-center justify-content-lg-between">
      <div class="col-lg-5">
        <div class="">
          <a href="https://rajasthan.gov.in/" target="_blank"><img src="assets/img/rajasthan_govt.png" alt="Govt of Rajasthan" class="img-fluid" style="width: 200px;" /></a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="logo_right">
          <a href="https://janaadhaar.rajasthan.gov.in/content/raj/janaadhaar/en/home.html#" target="_blank"><img src="assets/img/jan-adhaar-logo.png" alt="Jan Aadhaar Logo"></a>

        </div>
      </div>

      <!-- .navbar -->
    </div>
  </div>
  <div class="col-lg-7"></div>
  <nav id="navbar" class="navbar navbar-expand-lg menu-bg" *ngIf="isMenu">

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li>
          <a class="nav-link scrollto active" routerLink="/"><i class="fa fa-home"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Dashboard</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          
                <li><a class="dropdown-item" 
                  target="_blank">MIS Reports</a></li>
                  
                <li><a class="dropdown-item" 
                  target="_blank">Service2</a></li>

          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Enrollment</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">New Enrollment</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Editing</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Verification</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>DBT</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">DBT Engine</a></li>
            <li><a class="dropdown-item" 
                target="_blank">DBT Mapper</a></li>
            <li><a class="dropdown-item" 
                target="_blank">DBT Bharat</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Card Management</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">eCard</a></li>
            <li><a class="dropdown-item" 
                target="_blank">PVC Card</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>User Management</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">Menu Creation</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Role Creation</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Menu Role Mapping</a></li>
            <li><a class="dropdown-item" 
                target="_blank">User Creation</a></li>
            <li><a class="dropdown-item" 
                target="_blank">User Detail Update</a>
                </li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Incident Management</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">Ticket Creation</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Ticket Status</a>
                </li>
          </ul>
        </li>
        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <span>Admin</span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" 
                target="_blank">Budget Module</a></li>
            <li><a class="dropdown-item" 
                target="_blank">Service2</a>
                </li>
          </ul>
        </li>
        
      </ul>
    </div>
    <div class="button_link">
      <!-- <a routerLink="/farmer-aadhaar-verification" class="btn_frm_reg">
        {{'FARMER_REGISTRATION'| translate}}</a> -->
      <li class="nav-item">
        <a routerLink="/login" class="nav-link btn_frm_reg" aria-current="page">Back to SSO</a>
      </li>
    </div> 
  </nav>

</header>
<!-- End Header -->