<label [for]="inputId" class="form-label" *ngIf="isLabel">{{lable}} <span *ngIf="isRequired"
    class="text-danger">*</span>
</label>

<div *ngIf="inputType=='input'">
  <input [type]="fieldType" [formControl]="control" class="form-control" [placeholder]="placeholder"
    [maxlength]="maxlength" [minlength]="minlength" [pattern]="regxPattern" [readOnly]="readonly" [max]="maximum" />
</div>

<div *ngIf="inputType=='numericInput'">
  <input [type]="'text'" [formControl]="control" class="form-control" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" [pattern]="regxPattern" [readOnly]="readonly" [max]="maximum" numbersOnly />
</div>

<div *ngIf="inputType=='decimalInput'">
  <input [type]="'text'" [formControl]="control" class="form-control" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" [pattern]="regxPattern" [readOnly]="readonly" [max]="maximum" numbersOnlyWithDecimal />
</div>

<div *ngIf="inputType=='password'">
  <input type="password" [formControl]="control" class="form-control" [placeholder]="placeholder"
    [maxlength]="maxlength" [minlength]="minlength" />
</div>

<div *ngIf="inputType=='select'">
  <select [formControl]="control" [id]="inputId" class="form-select" [attr.disabled]="readonly ? '' : null">
    <option [value]="''" selected>Select</option>
    <option *ngFor="let item of dropdownData" [value]="item[dropdownIdKey]">{{item[dropdownNameKey]}}</option>
  </select>
</div>


<div *ngIf="inputType=='select_withoutKey'">
  <select [formControl]="control" [id]="inputId" class="form-select" [attr.disabled]="readonly ? '' : null">
    <option [value]="''" selected>Select</option>
    <option *ngFor="let item of dropdownData" [value]="item">{{item}}</option>
  </select>
</div>


<!-- 27-09-2023  -->
<div *ngIf="inputType=='textarea'">
  <textarea [formControl]="control" class="form-control resizable" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" rows="1" [readonly]="readonly"></textarea>
</div>
<div *ngIf="inputType=='file'">
  <input type="file" [formControl]="control" class="form-control" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" />
</div>
<!-- 27-09-2023  -->

<div *ngIf="inputType=='date'">
  <input type="text" [formControl]="control" class="form-control" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" bsDatepicker [bsValue]="control.value" [attr.disabled]="readonly ? '' : null" [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }"/>
</div>

<div *ngIf="inputType=='yearOnly'">
  <input type="text" [formControl]="control" class="form-control" [placeholder]="placeholder" [maxlength]="maxlength"
    [minlength]="minlength" bsDatepicker [bsValue]="control.value" [attr.disabled]="readonly ? '' : null" [bsConfig]="{minMode:'year', dateInputFormat: 'YYYY' }"/>
</div>

<div class="form-check" *ngIf="inputType=='checkbox'">
  <input class="form-check-input" type="checkbox" [checked]="isChecked" [readonly]="readonly" [disabled]="disabled">
  <label class="form-check-label" for="flexCheckDefault">
    {{chkboxLable}}
  </label>
</div>

<div class="form-check mx-2" *ngIf="inputType=='radio'">
  <input class="form-check-input" type="radio" [name]="radioBtnName" [id]="radioBtnName" [checked]="isChecked"
    formControlName="{{cName}}" [readonly]="readonly">
  <label class="form-check-label " [for]="radioBtnName">
    {{radioboxLable}}
  </label>
</div>

<ng-container *ngIf="control?.invalid && control?.touched">
  <div *ngFor="let err of control?.errors | keyvalue " class="text-danger fs-7">
    <!-- <h1>{{err | json}}</h1> -->
    <!-- <h1>{{err.key===noDoubleZerosAtStart}}</h1> -->
    <ng-container *ngIf="err.key === 'required'">
      {{errorMessage[err.key]}}

    </ng-container>

    <ng-container *ngIf="err.key === 'customError'">
      {{err.value}}
    </ng-container>

    <ng-container *ngIf="err.key === 'minlength'">
      {{errorMessage[err.key]}} {{err.value.requiredLength}} <span *ngIf="err.value.requiredLength">
        characters long
      </span>
    </ng-container>

    <ng-container *ngIf="err.key === 'pattern'">
      <span *ngIf="err.value.requiredPattern==mobPattern">
        {{validationMsg.mobileNumber}}
      </span>
      <span *ngIf="err.value.requiredPattern==emailPattern">
        {{validationMsg.email}}
      </span>

      <span *ngIf="err.value.requiredPattern==ifscPattern">
       {{validationMsg.ifsc}}
      </span>
    </ng-container>

    <ng-container *ngIf="err.key === 'whitespace'">
      Cannot start with whitespace
    </ng-container>
    <ng-container *ngIf="err.key==='noDoubleZerosAtStart'">
      Starting with 00 not allowed
    </ng-container>

    <ng-container *ngIf="err.key==='noTripleZerosAtStart'">
      Starting with 000 not allowed
    </ng-container>

    <!-- {{errorMessage[err.key]}} {{err.value.requiredLength}}
    <span *ngIf="err.value.requiredLength">
      characters long
    </span> -->
  </div>
</ng-container>
