<ng-container>
    <label class="form-label">{{label}} <span *ngIf="isRequired"
      class="text-danger">*</span></label>
    <ng-multiselect-dropdown name="inputId" [placeholder]="'Select'" [formControl]="control"
        [settings]="ddConfig" [data]="ddList" (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)" (onDeSelect)="onItemDeSelect($event)"
        (onDeSelectAll)="onItemDeSelectAll($event)" [disabled]="isDropdownDisabled">
    </ng-multiselect-dropdown>
    <ng-container *ngIf="control.invalid && control.touched">
        <div *ngFor="let err of control.errors | keyvalue " class="text-danger fs-7">
            {{errorMessage[err.key]}} {{err.value.requiredLength}}
            <span *ngIf="err.value.requiredLength">
                characters long
            </span>
        </div>
    </ng-container>
</ng-container>
