.filetype {
    line-height: 38px;
    padding: 0px 0px 0px 8px;
}
.filePane{
    position: relative;
    top: 10px;
    left: 0;
    z-index: 1;
    width: 100%;
    max-height: 100px;
    overflow: auto;
    border-radius: 0 0 4px 4px;
    border: 1px solid #ced4da;
    padding: 8px 8px;
}
.thinhg{
    height: 5px;
}
.multibtn{
    float: inline-end;
    width: 25%;
    line-height: 35px;
    border: none;
    background-color: var(--brown);
    color: #fff;
    border-radius: 0px 2px 2px 0px;
}
.custominputfile{
    border: solid 1px #ccc;
    border-radius: 2px ;
    line-height: 35px;
}
.low-padding{
    padding: 0.2rem .2rem !important;
    margin:0 5px;
}
.showonHover:focus, .showonHover:hover{
    background-color: green;
    color: #fff !important;
    line-height: 20px;
    padding: 0px;
    border-radius: 5px;
    width: 30px;
}
.word-break-1{
    word-break:break-all;
    letter-spacing: -1px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    width: 322px;
    line-height: 16px;
}
.customLineHeight{
  line-height: 33px !important;
}
