<div class="mb-3">
  <label for="formFileSm" class="form-label">{{label}} ({{maxSizeMB}} MB) <span class="text-danger"
      *ngIf="isMandatory">*</span> ({{allowedTypes}}) </label>
  <div>
    <div class="row">
      <div class="col-lg-12">
        <input type="file" #fileInput (change)="handleFileChange($event)" accept="{{allowedTypes}}"
          class="form-control filetype d-none" [isDisabled]="isDisabled">
        <div class="custominputfile">
          <button (click)="openFile()" class="multibtn" [disabled]="isDisabled">Choose file</button>
          <button (click)="openFile()" class="multibtn" [disabled]="isDisabled" class="btn bg-transparent">{{fileCompText}}</button>
          <button class="btn bg-transparent low-padding" (click)="openFilePane()" *ngIf="allFilesList.length"
            matTooltip="Show File(s) List">
            <mat-icon class="low-padding showonHover text-success">list</mat-icon>
          </button>
        </div>
        <div class="filePane" *ngIf="showFilePane">
          <div class="d-block customLineHeight px-2 py-1 my-1 alert alert-success alert-dismissible fade show" *ngFor="let fi of allFilesList">
            <strong>File!</strong>
           
            <span class="text-blue pointer  word-break-1" (click)="viewDocuments(fi.id)"> {{fi.name}}</span>

            <button class="btn d-block low-padding btn-warning float-end" (click)="fileAction(fi, 'upload')" *ngIf="fi.selected"
              matTooltip="Upload File">
              <mat-icon>upload</mat-icon>
            </button>
            <button class="btn d-block low-padding btn-danger float-end" (click)="fileAction(fi, 'softDelete')" *ngIf="fi.selected"
              matTooltip="Delete File">
              <mat-icon>delete</mat-icon>
            </button>
            <button class="btn d-block low-padding btn-danger float-end" (click)="fileAction(fi, 'delete')" *ngIf="!fi.selected"
              matTooltip="Delete Uploaded File" [disabled]="isDisabled">
              <mat-icon>delete</mat-icon>
            </button>
            <div class="progress thinhg">
              <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            
          </div>
        </div>
      </div>
      <ng-container
        *ngIf="formGroup.controls[this.inputId].invalid && formGroup.controls[this.inputId].touched && (!allFilesList.length)">
        <div *ngFor="let err of formGroup.controls[this.inputId].errors | keyvalue " class="text-danger fs-7">
          {{errorMessage[err.key]}} {{err.value.requiredLength}}
        </div>
      </ng-container>
      <ng-container
        *ngIf="formGroup.controls[this.inputId].invalid && formGroup.controls[this.inputId].touched && (allFilesList.length)">
        <div class="text-danger fs-7">
          Please upload the file
        </div>
      </ng-container>
      <ng-container
        *ngIf="formGroup.controls[this.inputId].valid && (allFilesList.length !== maxNoOfFiles)">
        <div class="text-danger fs-7">
          Please upload the {{maxNoOfFiles}} file(s)
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal fade" #dialogModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-dialog (callback)="onModalCallBack()" [dialogContent]="resetFormContent" [actionButtonText]="'OK'"></app-dialog>
</div>