<main id="mainInner">

  <section class="login-page">
    <div class="container">
      <div class="login-main-container bg-white row">
        <div class="login-page-section page-left position-abs padding-jumbo col-lg-6 login-bg-1">
          <div [routerLink]="['/']" style="cursor: pointer;">
            <h2 class="text-white font-weight-bold site-title my-2">
              <img src="../../../assets/img/darshan-text-1.png" alt="Darshan Logo" title="Darshan Logo" class="darshan-logo" />
            </h2>
          </div>
          <h5 class="logo-full-form">
            <span>D</span>igital <span>A</span>griculture <span>R</span>ealtime <span>S</span>ervices,<br />
            <span>H</span>asslefree <span>A</span>ssistance and <span>N</span>ew Intiative
          </h5>

          <img src="../../../assets/img/icon-list/login-icon.png" class="img-fluid farmer-img">
        </div>

        <div
          class="login-page-section page-right position-abs padding-jumbo  col-lg-4 col-md-6 justify-content-center px-lg-5">



          <div class="d-flex justify-content-center">
            <img src="../../../assets/img/darshan.png" class="img-fluid mx-auto logo-img p-1 rounded border">
          </div>
          <legend class="mt-2 font-weight-normal pb-1 text-center text-brown">{{'GLOBAL_FORGOT_PASSWORD'| translate}}
          </legend>

          <form [formGroup]="formGroup">
            <div class="scroll-md-y">
              <hr />
              <div class="mb-2">
                <app-form-control [inputId]="'email'" [lable]="'GLOBAL_EMAIL'| translate"
                  [placeholder]="placeholderValue + ' email'" [control]="formGroup.controls.username"
                  [inputType]="'input'" [fieldType]="'email'" [isRequired]="true" [maxlength]="100"
                  [regxPattern]="emailPattern"></app-form-control>

              </div>

              <div *ngIf="formGroup.controls.otp">
                <div class="mt-2">
                  <app-form-control [inputId]="'otp'" [placeholder]="placeholderValue + ' OTP'"
                    [lable]="'GLOBAL_OTP' | translate" [control]="formGroup.controls.otp"
                    [inputType]="'input'" [isRequired]="true" [minlength]="4" [maxlength]="4"></app-form-control>
                </div>

                <div class="mt-2">
                  <app-form-control [inputId]="'password'" [placeholder]="placeholderValue + ' new password'"
                    [lable]="'GLOBAL_NEW_PASSWORD' | translate" [control]="formGroup.controls.newPassword"
                    [inputType]="'password'" [isRequired]="true" [minlength]="5"></app-form-control>
                </div>

                <div class="mt-2">
                  <app-form-control [inputId]="'password'" [placeholder]="placeholderValue + ' confirm new password'"
                    [lable]="'GLOBAL_CONFIRM_PASSWORD' | translate" [control]="formGroup.controls.confirmPassword"
                    [inputType]="'password'" [isRequired]="true" [minlength]="5"></app-form-control>
                </div>
              </div>

              <br />
              <div class="mb-1 d-flex justify-content-center">
                <app-buttons [lable]="'GLOBAL_GENERATE_OTP' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="generateOtp()" *ngIf="!formGroup.controls.otp">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_SUBMIT' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="forgotPassword()" *ngIf="formGroup.controls.otp">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_RESET' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-outline-danger ps-4 pe-4 ms-2'" (click)="back()">
                </app-buttons>

              </div>
              <div class="text-center">
                <a [routerLink]="['/', navigateToLogin]"><i class='bx bx-chevron-left'></i>&nbsp;{{'GLOBAL_LOGIN' | translate }}</a>
              </div>
            </div>
          </form>
        </div>
      </div><app-footer [isBottomFooter]="false"></app-footer>

    </div>

  </section>

</main>
<!-- <app-footer [isBottomFooter]="false"></app-footer> -->
