<app-header [isMenu]="false"></app-header>
<main id="mainInner">
  <app-page-heading></app-page-heading>
  <app-sidebar></app-sidebar>
  <div class="container-fluid mt-2">
    <section class="content-section">
      
      <div class="d-flex">
        <div class="" *ngIf="functionControlObj['addNewUser']">
          <div *ngIf="accessRights?.isCreate">
          <app-buttons [lable]="'ADD_NEW_USER'| translate" [btnType]="'button'" [cssClass]="'btn-orange'"
            [routerLink]="addEditUserRoutePath">
          </app-buttons>
          </div>
        </div>
        <div class="ms-auto ">
          <app-export-pdf-excel (callbackExcel)="exportExcelData()"
            (callbackPdf)="exportPDFData()" ></app-export-pdf-excel>
        </div>
      </div>
      <div class="row">
        <div class="mt-2">
          <app-table [tableData]="userData" [tableColumns]="usersTableColumns" [isFilterable]="true" [isPageable]="true"
             (sort)="sortData($event)" [rowActionIcon]="'action'" [requiredActions]="rowActionList"
             [recordCount]="count" (rowAction)="onTableAction($event)">
          </app-table>
        </div>
      </div>
    </section>
  </div>
  <div class="modal fade" #dialogModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-dialog (callback)="actionMethod()" [dialogContent]="dialogDisplayContent" [actionButtonText]="'GLOBAL_YES' | translate"
      [dialogHeading]="'GLOBAL_CONFIRM_STATUS_UPDATE' | translate"></app-dialog>
  </div>

  <div class="modal fade" #dialogModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <app-dialog (callback)="lockUnlockUser()" [dialogContent]="dialogDisplayContent" [actionButtonText]="'GLOBAL_YES' | translate"
      [dialogHeading]="'GLOBAL_CONFIRM_STATUS_UPDATE' | translate"></app-dialog>
  </div>

</main>

<!-- <app-footer></app-footer> -->
