<!-- <div class="backdrop"></div>
<div class="loading-spinner">
    <div class="lds-spinner">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div> -->

<div class="page-loader">
    <div class="page-loader-inner">
      <div role="status" class="spinner-border text-primary"></div>
      <img  width="60" src="assets/img/darshan.png" alt=""></div>
    </div>