<app-header [isMenu]="false"></app-header>
<main id="mainInner">

  <app-page-heading></app-page-heading>
  <app-sidebar></app-sidebar>
  <div class="container-fluid mt-2">
    <section class="content-section">
      <div class="d-flex add-edit-page">
        <form [formGroup]="formGroup">
          <h2>{{actionButton.CHANGE_PASSWORD | translate}}</h2>
          <div class="border p-3 rounded-top">
            <div class="row">
              <div class="col-md-6">
                <div class="mb-3">
                  <app-form-control [inputId]="'username'" [lable]="ChangePasswordFields.USER_NAME | translate"
                    [control]="formGroup.controls.username" [inputType]="'input'" [isRequired]="true"
                    [placeholder]="placeholderValue + ' username'" [maxlength]="100"></app-form-control>
                </div>
              </div>
                </div>
                <div class="row">              <div class="col-md-6">
                <div class="mb-3">
                  <app-form-control [inputId]="'oldPassword'" [lable]="ChangePasswordFields.OLD_PASSWORD | translate"
                    [control]="formGroup.controls.oldPassword" [inputType]="'input'" [isRequired]="true"
                    [placeholder]="placeholderValue + ' old password'" [maxlength]="100"></app-form-control>
                </div>
              </div>

              <div class="col-md-6">
                <div class="mb-3">
                  <app-form-control [inputId]="'newPassword'" [lable]="ChangePasswordFields.NEW_PASSWORD | translate"
                    [control]="formGroup.controls.newPassword" [inputType]="'input'" [isRequired]="true"
                    [placeholder]="placeholderValue + ' new password'" [maxlength]="100"></app-form-control>
                </div>
              </div>

            </div>
          </div>

          <app-add-edit-module-navigation [navigationShowType]="showNavigationType" [showUpdateBtn]="false"
          [showResetBtn]="false" [isBack]="false"
          (onNavBtnClick)="onBottomBtnClick($event)">
        </app-add-edit-module-navigation>
        </form>
      </div>
    </section>
  </div>
  <div class="modal fade" #dialogModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">

    <app-dialog (callback)="reset()" [dialogContent]="resetForm" [closeText]="'GLOBAL_CLOSE' | translate" [actionButtonText]="'GLOBAL_OK' | translate"
      [dialogHeading]="'Form Reset'"></app-dialog>
  </div>

</main>
