<!-- <p>menu-add-edit works!</p> -->
 
<app-header [isMenu]="true"></app-header> 
 <div class = "main-content container-fluid">
 
    <nav class="float-right" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
          <li class="breadcrumb-item"><a href="#">User Management</a></li>
          <li class="breadcrumb-item"><a href="#">Menu Creation</a></li>
          <li class="breadcrumb-item active" aria-current="page">Add Menu</li>
        </ol>
      </nav>
<div class="card my-3">
    <div class="card-header">
        <h6>Add Menu</h6>
    </div> 
    <!-- Header closed -->
    
    <form [formGroup]="formGroup">

        
    <div class="card-body">
        <div  class = "input_form row"> 
        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'Menu Name'" [lable]="'Menu Name'| translate"
                [placeholder]="placeholderValue + ' Name'"
                [inputType]="'input'" [fieldType]="'text'" [isRequired]="true" [maxlength]="100">
            </app-form-control>
        </div>

        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'Menu URL'" [lable]="'Menu URL'| translate"
                [placeholder]="placeholderValue + ' URL'"
                [inputType]="'input'" [fieldType]="'text'" [isRequired]="true" [maxlength]="100">
            </app-form-control>
        </div>

        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'menuType'" [dropdownData]="menuTypeData" [lable]="'Menu Type'"
                [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'menuOption'"
                [placeholder]="placeholderValue + 'Menu Type'">
            </app-form-control>
        </div>

        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'priMenuType'" [dropdownData]="priMenuTypeData" [lable]="'Primary Menu Type'"
                [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'priMenuOption'"
                [placeholder]="placeholderValue + 'Primary Menu Type'">
            </app-form-control>
        </div>

        <!-- <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'menuIcon'" [dropdownData]="iconTypeData" [lable]="'Menu Icon'"
                [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'iconOption'"
                [placeholder]="placeholderValue + 'Menu Icon'">
            </app-form-control>
        </div> -->
    
        </div>
    </div>
    <!-- Content closed -->

    <div class="card-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <!-- Footer closed -->

</form>
</div>
</div>

        <!-- <div class="col-md-3 mb-3">
        <label for="MenuType" class="form-label">Menu Type</label>
        <select class="form-select">
        <option selected></option>
        <option value="1">Primary Menu</option>
        <option value="2">Secondary Menu</option>
    </select>
    </div>
    <div class="col-md-3 mb-3">
        <label for="PriMenuType" class="form-label">Primary Menu Type</label>
        <select class="form-select">
        <option selected></option>
        <option value="1">Dashboard</option>
        <option value="2">Enrollment</option>
        <option value="3">DBT</option>
        <option value="4">Card Management</option>
        <option value="5">Incident Management</option>
        <option value="6">User Management</option>
        <option value="7">Admin</option>
    </select>
    </div> -->
