<div class="row">
    <div class="col-lg-6 col-md-6">
        <div class="mb-3">
            <app-multi-select-dd [label]="'GLOBAL_DISTRICT' | translate" [inputId]="DISTRICT_INP_ID" [ddList]="districtList"
                [bindID]="DISTRICT_BIND_ID" [control]="formGroup.controls[DISTRICT_INP_ID]" [isDropdownDisabled]="isDisabled"
                (onDDChange)="onDropDownChange($event)">
            </app-multi-select-dd>
        </div>
    </div>
    <div class="col-lg-6 col-md-6" *ngIf="isTehsilReq">
        <div class="mb-3">
            <app-multi-select-dd [label]="'GLOBAL_TEHSIL' | translate" [inputId]="TEHSIL_INP_ID" [ddList]="tehsilList"
                [bindID]="TEHSIL_BIND_ID" [control]="formGroup.controls[TEHSIL_INP_ID]"
                (onDDChange)="onDropDownChange($event)" [isDropdownDisabled]="isDisabled">
            </app-multi-select-dd>
        </div>
    </div>

    <div class="col-lg-6 col-md-6">
        <div class="mb-3">
            <app-multi-select-dd [label]="'GLOBAL_BLOCK' | translate" [inputId]="BLOCK_INP_ID" [ddList]="blockList" [bindID]="BLOCK_BIND_ID"
                [control]="formGroup.controls[BLOCK_INP_ID]" (onDDChange)="onDropDownChange($event)" [isDropdownDisabled]="isDisabled">
            </app-multi-select-dd>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="mb-3">
            <app-multi-select-dd [label]="'GLOBAL_VILLAGE'| translate" [inputId]="VILLAGE_INP_ID" [ddList]="villageList"
                [bindID]="VILLAGE_BIND_ID" [control]="formGroup.controls[VILLAGE_INP_ID]"
                (onDDChange)="onDropDownChange($event)" [isDropdownDisabled]="isDisabled">
            </app-multi-select-dd>
        </div>
    </div>
</div>
