<div class="mb-3">
  <label for="formFileSm" class="form-label">{{label}} ({{maxSizeMB}} MB) <span class="text-danger" *ngIf="isMandatory">*</span> ({{allowedTypes}}) </label>
  <div>
    <div class="row">
      <div class="col-lg-10 col-md-9 col-sm-8 col-8">
        <input type="file" #fileInput (change)="handleFileChange($event)" accept="{{allowedTypes}}"
          class="form-control filetype" (click)="fileInputClick($event)" [disabled]="isDisabled">
        <div class="p-2 mt-2 alert alert-success alert-dismissible fade show" *ngIf="uploadedFile">
          <button type="button" class="btn-close" style="padding: 12px;" (click)="deleteFile()" [disabled]="isDisabled"></button>
          <strong>File!</strong> {{uploadedFile}}
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-4 p-0">
        <button (click)="uploadFile()" [ngClass]="uploadedFile ? 'btn-brown btn disabled': 'btn-brown btn' " [disabled]="isDisabled">{{'GLOBAL_UPLOAD' | translate}}</button>
      </div>
      <ng-container *ngIf="formGroup.controls[this.inputId].invalid && formGroup.controls[this.inputId].touched && (!selectedFiles.length)">
        <div *ngFor="let err of formGroup.controls[this.inputId].errors | keyvalue " class="text-danger fs-7">
          {{errorMessage[err.key]}} {{err.value.requiredLength}}
        </div>
      </ng-container>
      <ng-container *ngIf="formGroup.controls[this.inputId].invalid && formGroup.controls[this.inputId].touched && (selectedFiles.length)">
        <div class="text-danger fs-7">
          Please upload the file
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="modal fade" #dialogModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <app-dialog (callback)="onModalCallBack()" [dialogContent]="resetFormContent" [actionButtonText]="'OK'"></app-dialog>
</div>
