.alert {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .alert.show {
    display: block;
    opacity: 1;
  }
.close {
  position: absolute;
    right: 15px;
    font-weight: bold;
    width: 30px;
    cursor: pointer;
}  
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  
}