<!-- <app-header [isMenu]="isMenu"></app-header> -->

<div  #clsoe class="alert alert-danger" [ngClass]="errorMessage ? 'show': 'alert' "  *ngIf="errorMessage | async"
style="position: fixed; z-index: 9999999; top: 0px; right: 0px; width: 100%; text-align: center;">
   {{errorMessage | async}} <span class="close" (click)="removeCss(clsoe)">X</span>
</div>
<app-loading *ngIf="loading$ | async"></app-loading>
<router-outlet (activate)="onActivate($event)">
</router-outlet>

<button mat-mini-fab color="primary" class="scroll-to-top" matTooltip="Scroll to Top"  (click)="scrollToTop()"aria-label="Example icon button with a menu icon">
   <mat-icon>keyboard_arrow_up</mat-icon>
 </button>

