<div class="modal-dialog modal-dialog-centered " [class]="cssClass">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" *ngIf="dialogHeading" id="exampleModalLabel">{{dialogHeading}}</h5>
      <button *ngIf="closeBtn" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body text-justify">
      <div *ngIf="!isSrNumber">{{dialogContent}}</div>
      <div *ngIf="isSrNumber" [innerHTML]="dialogContent"></div>
    </div>
    <div class="modal-footer">
      <button *ngIf="closeText" type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{closeText}}</button>
      <button type="button" class="btn btn-danger" (click)="callback.emit()"
        *ngIf="isAction">{{actionButtonText}}</button>
    </div>
    <!-- <button (click)="updateTab2Status()">Submit</button> -->
  </div>
</div>