<!-- <p>menu-add-edit works!</p> -->
 
<app-header [isMenu]="true"></app-header> 
 
<div class="card1">
    <div class="card-header">
        <h6>Add User</h6>
    </div> 
    <!-- Header closed -->
    
    <!-- <form [formGroup]="formGroup"> -->

        
    <div class="card-body">
        <div  class = "input_form row"> 
        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'SSO ID'" [lable]="'SSO ID'| translate"
                [placeholder]="placeholderValue + ' ID'"
                [inputType]="'input'" [fieldType]="'text'" [isRequired]="true" [maxlength]="100">
            </app-form-control>
        </div>
    
        </div>
    </div>
    <!-- Content closed -->

    
    <div class="card-footer">
        <p>
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Search
            </button>
        </p>
    </div>
    <!-- Footer closed -->

<!-- </form> -->
</div> 

<div class="collapse" id="collapseExample">
<div class="card1">
  
    <form [formGroup]="formGroup">

        <div class="card-body">
            <div  class = "input_form row"> 
                <div class="col-md-3 mb-3">
                    <app-form-control [inputId]="'roleName'" [dropdownData]="roleNameData" [lable]="'Role Name'"
                        [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'roleNameOption'"
                        [placeholder]="placeholderValue + 'Role Name'">
                    </app-form-control>
                </div>

                <div class="col-md-3 mb-3">
                    <app-form-control [inputId]="'locationHierarchy'" [dropdownData]="locationHierarchyData" [lable]="'Location Heirarchy'"
                        [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'locationOption'"
                        [placeholder]="placeholderValue + 'Location Heirarchy'">
                    </app-form-control>
                </div>
        
        
            </div>
        </div>
        <!-- Content closed -->
    
        <div class="card-footer">
            <button type="search" class="btn btn-primary">Submit</button>
        </div>
        <!-- Footer closed -->
    
    </form>
</div> 
    </div>