<ng-container>
    <h2 *ngIf="compData.heading">{{compData.heading}}</h2>
    <div class="row">
        <ng-container *ngIf="compData.todoList && compData.todoList.length">

            <div *ngFor="let item of compData.todoList" class="col-md-4 mb-3">
                <ng-container *ngIf="item && (item.type === 'text')">
                    <app-form-control [inputId]="item.dataKey" [lable]="item.labelName | translate"
                        [control]="childFormGroup.controls[item.dataKey]" [inputType]="'input'" [isRequired]="true"
                        [placeholder]="item.labelName | translate" [maxlength]="item.maxlength"></app-form-control>
                </ng-container>

                <ng-container *ngIf="item && (item.type === 'number')">
                    <app-form-control [inputId]="item.dataKey" [lable]="item.labelName | translate"
                        [control]="childFormGroup.controls[item.dataKey]" [inputType]="'numericInput'"
                        [isRequired]="true" [placeholder]="item.labelName | translate"
                        [maxlength]="item.maxlength"></app-form-control>
                </ng-container>

                <ng-container *ngIf="item && (item.type === 'numberWithDecimal')">
                    <app-form-control [inputId]="item.dataKey" [lable]="item.labelName | translate"
                        [control]="childFormGroup.controls[item.dataKey]" [inputType]="'decimalInput'"
                        [isRequired]="true" [placeholder]="item.labelName | translate"
                        [maxlength]="item.maxlength"></app-form-control>
                </ng-container>

                <ng-container *ngIf="item && (item.type === 'textarea')">
                    <app-form-control [inputId]="item.dataKey" [lable]="item.labelName | translate"
                        [control]="childFormGroup.controls[item.dataKey]" [inputType]="'textarea'" [isRequired]="true"
                        [placeholder]="item.labelName | translate" [maxlength]="item.maxLength"></app-form-control>
                </ng-container>

                <ng-container *ngIf="item && (item.type === 'dropdown')">
                    <app-form-control [inputId]="item.dataKey" [dropdownData]="item.dropdownData"
                        [dropdownIdKey]="item.dropdownIdKey" [dropdownNameKey]="item.dropdownNameKey"
                        [lable]="item.labelName | translate" [control]="childFormGroup.controls[item.dataKey]"
                        [inputType]="'select'" [isRequired]="true"
                        (change)="onSelectionChange($event, item.dataKey, item)"></app-form-control>
                </ng-container>
                <ng-container *ngIf="item && (item.type === 'multidropdown')">
                    <app-multi-select-dd [label]="item.labelName | translate" [inputId]="item.dataKey"
                        [ddList]="item.dropdownData" [bindID]="item.dropdownIdKey"
                        [bindName]="item.dropdownNameKey"
                        [control]="childFormGroup.controls[item.dataKey]" (onDDChange)="onMultiDropDownChange($event, item)" [isDropdownDisabled]="(item.renderingReq === '0')?true:false">
                    </app-multi-select-dd>
                </ng-container>
            </div>
        </ng-container>
        <div class="col-md-4 mb-3 ">
            <app-buttons *ngIf="isEditMode" [lable]="GLOBAL_CANCEL | translate" [btnType]="'button'"
                cssClass="btn btn-danger mt-4" (click)="onEditCancelClick()">
            </app-buttons>
            <app-buttons *ngIf="compData.btnLabel" [lable]="isEditMode?'Update':compData.btnLabel | translate"
                [btnType]="'button'" cssClass="btn-orange mt-4" (click)="onAddUpdateClick()">
            </app-buttons>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <app-table [tableData]="todoList" [tableColumns]="todoListTableColumns" [isPageable]="false"
                [requiredActions]="rowActionList" [rowActionIcon]="'action'" [recordCount]=""
                (rowAction)="onTableAction($event)">
            </app-table>
        </div>
        <ng-container
            *ngIf="this.parentFormGroup && (this.parentFormGroup.status === 'INVALID') && (this.parentFormGroup.touched)">
            <div *ngIf="!todoList.length" class="text-danger fs-7">
                <span>
                    Please add some entries
                </span>
            </div>
        </ng-container>
    </div>
</ng-container>