<div class="d-flex bd-highlight mb-3 mt-0 bg-light p-2 rounded-bottom border border-top-0">
    <div class="bd-highlight" *ngIf="isBack">
        <app-buttons [lable]="actionButton.BACK | translate" [btnType]="'button'"
            cssClass="btn-outline-danger ps-4 pe-4" (click)="onBtnClick(navActions.BACK_ACTION)">
        </app-buttons>
    </div>
    
    <div class="ms-auto bd-highlight">
        <ng-container *ngIf="navigationShowType === showNavigationConst.CREATE">
            <app-buttons [lable]="actionButton.RESET | translate" [btnType]="'button'" cssClass="btn-orange ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.RESET_ACTION)" *ngIf="showResetBtn">
            </app-buttons>
            <app-buttons [lable]="actionButton.CREATE | translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.CREATE_ACTION)" *ngIf="!showUpdateBtn">
            </app-buttons>
            <app-buttons [lable]="actionButton.UPDATE | translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.UPDATE_ACTION)" *ngIf="showUpdateBtn">
            </app-buttons>
        </ng-container>

        <ng-container *ngIf="navigationShowType === showNavigationConst.TICKET_SUBMIT">
            <app-buttons [lable]="actionButton.RESET | translate" [btnType]="'button'" cssClass="btn-orange ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.RESET_ACTION)" *ngIf="showResetBtn">
            </app-buttons>
            <app-buttons [lable]="actionButton.SUBMIT| translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.CREATE_ACTION)" *ngIf="!showUpdateBtn">
            </app-buttons>
            <app-buttons [lable]="actionButton.UPDATE | translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.UPDATE_ACTION)" *ngIf="showUpdateBtn">
            </app-buttons>
        </ng-container>

                               
        <ng-container *ngIf="navigationShowType === showNavigationConst.SUBMIT">
            <app-buttons [lable]="actionButton.SAVE_AS_DRAFT | translate" [btnType]="'button'"
                cssClass="btn-success ps-4 pe-4" class="ms-2" (click)="onBtnClick(navActions.SAVE_AS_DRAFT_ACTION)"
                *ngIf="!showUpdateAsDraftBtn && hideSaveAsDraft">
            </app-buttons>
            <app-buttons [lable]="actionButton.UPDATE_AS_DRAFT | translate" [btnType]="'button'"
                cssClass="btn-success ps-4 pe-4" class="ms-2" (click)="onBtnClick(navActions.UPDATE_AS_DRAFT_ACTION)"
                *ngIf="showUpdateAsDraftBtn">
            </app-buttons>
            <app-buttons [lable]="actionButton.SUBMIT | translate" [btnType]="'button'" cssClass="btn-brown ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.SUBMIT_ACTION)">
            </app-buttons>
        </ng-container>


        <ng-container *ngIf="navigationShowType === showNavigationConst.VIEW_AND_WORKFLOW &&  isWorkFlowInitiated">
            <app-buttons [lable]="actionButton.SUBMIT_FOR_APPROVAL | translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
                class="ms-2" (click)="onBtnClick(navActions.CREATE_ACTION)">
            </app-buttons>
        </ng-container>

        <ng-container *ngIf="navigationShowType === showNavigationConst.SUBMIT_AND_GENERATE_RECEIPT">
          <app-buttons [lable]="actionButton.SUBMIT_AND_GENERATE_STORE_RECEIPT | translate" [btnType]="'button'" cssClass="btn-success ps-4 pe-4"
              class="ms-2" (click)="onBtnClick(navActions.UPDATE_ACTION)" *ngIf="showUpdateBtn">
          </app-buttons>
      </ng-container>
      <ng-container *ngIf="navigationShowType === showNavigationConst.VIEW_SANSTHA">
        <app-buttons (click)="onBtnClick(navActions.APPROVE)" [lable]="'GLOBAL_APPROVE'| translate"
            [btnType]="'button'" [cssClass]="'btn-success me-2'" >
          </app-buttons>
          <app-buttons (click)="onBtnClick(navActions.REJECT)" [lable]="'GLOBAL_REJECT'| translate"
            [btnType]="'button'" [cssClass]="'btn-outline-danger me-2'">
          </app-buttons>
    </ng-container>

    </div>
</div>
