.captcha-bg {
	background: var(--red);
	border-radius: 4px;
	color: #fff;
}
.login-referesh {
	background: #ffffff;
	border: 2px solid var(--red);
	border-radius: 4px;
	padding: 5px 6px;
	margin: 0 10px;
	cursor: pointer;
  height:40px;
}
.login-referesh a i {
	color: var(--red);
	font-size: 28px;
	line-height: 0;
}
