<app-header [isMenu]="false"></app-header>
<main id="mainInner">
  <app-page-heading></app-page-heading>
  <form [formGroup]="formGroup">
    <div class="container-fluid mt-2">
      <div class="row  justify-content-md-center">
        <div class="col-md-5 mb-4">
          <div class="shadow rounded p-3">
            <legend class="font-weight-bold pb-2">{{'GLOBAL_RESET_PASSWORD' | translate}}</legend>
            <div class="mb-3">
              <app-form-control [inputId]="'username'" [lable]="'USER_NAME' | translate" [placeholder]="placeholderValue + ' username'"
                [control]="formGroup.controls.username" [inputType]="'input'" [isRequired]="true"
                [maxlength]="100"></app-form-control>
            </div>
            <div class="mb-3">
              <app-form-control [inputId]="'password'" [placeholder]="placeholderValue + ' password'"
                [lable]="'OLD_PASSWORD' | translate" [control]="formGroup.controls.oldPassword" [inputType]="'password'"
                [isRequired]="true" [minlength]="8" [maxlength]="12" ></app-form-control>
            </div>
            <div class="mb-3">
              <app-form-control [inputId]="'password'" [placeholder]="placeholderValue + ' password'"
                [lable]="'NEW_PASSWORD' | translate" [control]="formGroup.controls.newPassword" [inputType]="'password'"
                [isRequired]="true" [minlength]="8" [maxlength]="12"></app-form-control>
            </div>
            <div class="mb-3 mt-3">
              <app-buttons [lable]="'GLOBAL_SUBMIT' | translate" [btnType]="'submit'" [cssClass]="'btn-brown ps-4 pe-4'" (click)="resetPassword()">
              </app-buttons>
              <!-- <app-buttons [lable]="'Generate OTP'" [btnType]="'submit'" [cssClass]="'btn-brown ps-4 pe-4'" (click)="generateOtp()" *ngIf="!isPassword">
              </app-buttons> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>

</main>
<app-footer></app-footer>
