<!-- <app-header [isMenu]="false"></app-header> -->
<main id="mainInner">
  <!-- <app-page-heading></app-page-heading> -->

  <section class="login-page">
    <div class="container">
      <div class="login-main-container bg-white row">
        <div class="login-page-section page-left position-abs padding-jumbo col-lg-6 login-bg-1">
          <!-- <div class="text-left">
            <a [routerLink]="['/', navigateToHome]" class="text-primary font-lg text-white"><i class='bx bx-home'></i> Home</a>
          </div><br /><br /> -->
          <div [routerLink]="['/']" style="cursor: pointer;">
            <h2 class="text-white font-weight-bold site-title my-2">
              <img src="../../../assets/img/jan-adhaar.jpg" alt="Darshan Logo" title="Darshan Logo" class="darshan-logo" />
            </h2>
          </div>
          
          <!-- <img src="../../../assets/img/jan-adhaar-logo.png" class="img-fluid farmer-img"> -->
        </div>

        <div
          class="login-page-section page-right position-abs padding-jumbo  col-lg-4 col-md-6 justify-content-center px-lg-5">



          <div class="d-flex justify-content-center">
            <!-- <i class='bx bxs-user-circle bx-lg text-brown'></i> -->
            <img src="../../../assets/img/jan-adhaar-logo.png" class="img-fluid mx-auto logo-img p-1 rounded border">
          </div>
          <legend class="mt-2 font-weight-normal pb-1 text-center text-brown">{{'GLOBAL_SIGN_IN_WITH'| translate}}
          </legend>

          <form [formGroup]="formGroup">
            <div class="scroll-md-y">

              <div class="d-flex justify-content-center">

                <app-buttons [lable]="'GLOBAL_PASSWORD'|translate" [btnType]="'button'"
                [cssClass]="isPassword?'btn-warning ps-4 pe-4':'btn-outline-warning ps-4 pe-4'"
                (click)="togglePassword('PASSWORD')" *ngIf="!formGroup.controls.otp"> </app-buttons>

                <app-buttons [lable]="'GLOBAL_OTP'|translate" [btnType]="'button'"
                  [cssClass]="!isPassword?'btn-warning ps-4 pe-4 me-3 ms-2':'btn-outline-warning ps-4 pe-4 me-3 ms-2'"
                  (click)="togglePassword('OTP')" *ngIf="!isSaveCaptcha"> </app-buttons>

              </div>
              <hr />
              <div class="mb-2">
                <app-form-control [inputId]="'email'" [lable]="'GLOBAL_EMAIL'| translate"
                  [placeholder]="placeholderValue + ' email'" [control]="formGroup.controls.username"
                  [inputType]="'input'" [fieldType]="'email'" [isRequired]="true" [maxlength]="100"
                  [regxPattern]="emailPattern"></app-form-control>

              </div>
              <div class="mb-2" *ngIf="isPassword && isSaveCaptcha">
                <app-form-control [inputId]="'password'" [placeholder]="placeholderValue + ' password'"
                  [lable]="'GLOBAL_PASSWORD' | translate" [control]="formGroup.controls.password"
                  [inputType]="'password'" [isRequired]="true" [minlength]="5"></app-form-control>
                <div class="text-end">
                  <a [routerLink]="['/', navigateToForgotPassword]">{{'GLOBAL_FORGOT_PASSWORD' | translate }} ?</a>
                </div>
              </div>
              <div *ngIf="formGroup.controls.otp">
                <app-form-control [inputId]="'otp'" [placeholder]="placeholderValue + ' OTP'"
                  [lable]="'GLOBAL_OTP' | translate" [control]="formGroup.controls.otp"
                  [inputType]="'input'" [isRequired]="true" [minlength]="4" [maxlength]="4"></app-form-control>
              </div>
              <div *ngIf="formGroup.controls.otp">
                <app-countdown-clock *ngIf="!showResend" [seconds]="otpTimer"
                  (timeComplete)="showResendButton()"></app-countdown-clock>
                  <span class="justify-content-end btn" *ngIf="showResend"
                    (click)="generateOtp('resend')"><u><strong>Resend</strong></u>
                  </span>
              </div>

              <div [ngClass]="isPassword && isSaveCaptcha ? 'display-block' : 'display-none'">
                <app-captcha (captchaValue)="receiveCaptcha($event)" [formGroup]="formGroup"></app-captcha>
              </div>
              <br />
              <div class="mb-1 mt-3 d-flex justify-content-center">
                <app-buttons [lable]="'GLOBAL_PROCEED' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="saveCaptcha()" *ngIf="!isSaveCaptcha && isPassword">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_GENERATE_OTP' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="generateOtp()" *ngIf="!isPassword && !formGroup.controls.otp">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_VALIDATE_OTP' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="validateOtp()" *ngIf="formGroup.controls.otp">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_LOGIN' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-brown ps-4 pe-4'" (click)="login()"
                  [ngClass]="isPassword && isSaveCaptcha ? 'display-block' : 'display-none'">
                </app-buttons>

                <app-buttons [lable]="'GLOBAL_RESET' | translate" [btnType]="'submit'"
                  [cssClass]="'btn-outline-danger ps-4 pe-4 ms-2'" (click)="back()">
                </app-buttons>
              </div>
              <div class="mb-1 mt-3 d-flex justify-content-center">
              <a [routerLink]="['/']"><i class='bx bx-chevron-left'></i>&nbsp;{{'GLOBAL_HOME' | translate }}</a>
                </div>

            </div>
          </form>
        </div>
      </div><app-footer [isBottomFooter]="false"></app-footer>

    </div>

  </section>

</main>
<!-- <app-footer [isBottomFooter]="false"></app-footer> -->
