<!-- <p>add-role-menu works!</p> -->
<app-header [isMenu]="true"></app-header> 
 
<div class="card1 my-3">
    <div class="card-header">
        <h6>Menu Role Mapping</h6>
    </div> 
    <!-- Header closed -->

    <form [formGroup]="formGroup">
        
    <div class="card-body">
        <div  class = "input_form row"> 

        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'roleType'" [dropdownData]="roleTypeData" [lable]="'Role Type'"
                [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'roleOption'"
                [placeholder]="placeholderValue + 'Role Type'">
            </app-form-control>
        </div>

        <div class="col-md-3 mb-3">
            <app-form-control [inputId]="'roleName'" [dropdownData]="roleNameData" [lable]="'Role Name'"
                [inputType]="'select'" [isRequired]="true" [dropdownIdKey]="'id'"  [dropdownNameKey]="'roleNameOption'"
                [placeholder]="placeholderValue + 'Role Name'">
            </app-form-control>
        </div>

        <!-- <div class="col-md-3 mb-3">
            <ng-multiselect-dropdown name="Menu" [placeholder]="'Select'" 
                               [settings]="dropdownSettingsConf" [data]="menuData" (onSelect)="onItemSelect($event, lgdConstant.MENU)"
                               (onSelectAll)="onSelectAll($event, lgdConstant.MENU)" (onDeSelect)="onItemDeSelect($event, lgdConstant.MENU)"
                               (onDeSelectAll)="onItemDeSelectAll($event, lgdConstant.MENU)">
                             </ng-multiselect-dropdown>
                             </div> -->
    
        </div>
    </div>
    <!-- Content closed -->

    <div class="card-footer">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Search
            </button>
    </div>
    <!-- Footer closed -->
</form>
</div> 

<div class="collapse" id="collapseExample">
 
<div class="card2 my-3">
    <div class="row">
    

        <div class="col-xl-3 col-lg-4 col-md-6">
            <div class="card sitemap_box" id="sitemap_box_services1">
            <div class="card-header">
            <a data-bs-toggle="collapse" href="#collapseCardservices1" role="button" aria-expanded="false" aria-controls="collapseCardservices1" title="Collapse" alt="Collapse" class="float-end toggleBtn" id="sitebox_icon_services1" onclick="toggleIcon(this.id)"><i class="fa-solid fa-square-plus text-success"></i></a>


            <h5 class="mb-0">Enrollment</h5>
            </div>
            <div class="card-body collapse p-2 text-start" id="collapseCardservices1">
            <span class="ps-2">Available Services</span>
            <ul class="sub-level-1 list-style-none" id="item-list">
    
                <li>              
                <a title="New Enrollment" aria-label="New Enrollment" href="http://182.71.158.136:8000/services/exempted-establishments/cancellation-grant-notification" rel="noopener" class="internal_services external-link" onclick="">
                New Enrollment
                </a>
                </li>
    
                <li>              
                <a title="Editing" aria-label="Editing" href="http://182.71.158.136:8000/services/exempted-establishments/performance-evaluation-of-exempted-establishments" rel="noopener" class="internal_services external-link" onclick="">
                Editing
                </a>
                </li>
    
                <li>              
                <a title="Verification" aria-label="Verification" href="http://182.71.158.136:8000/services/exempted-establishments/performance-evaluation-of-exempted-establishments" rel="noopener" class="internal_services external-link" onclick="">
                Verification
                </a>
                </li>
    
            </ul>
            </div>
            </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6">
                <div class="card sitemap_box" id="sitemap_box_services1">
                <div class="card-header">
                <a data-bs-toggle="collapse" href="#collapseCardservices1" role="button" aria-expanded="false" aria-controls="collapseCardservices1" title="Collapse" alt="Collapse" class="float-end toggleBtn" id="sitebox_icon_services1" onclick="toggleIcon(this.id)"><i class="fa-solid fa-square-plus text-success"></i></a>
        
          
                <h5 class="mb-0">User Management</h5>
                </div>
                <div class="card-body collapse p-2 text-start" id="collapseCardservices1">
                <span class="ps-2">Available Services</span>
                <ul class="sub-level-1 list-style-none" id="item-list">
        
                    <li>              
                    <a title="Menu Creation" aria-label="Menu Creation" href="http://182.71.158.136:8000/services/exempted-establishments/cancellation-grant-notification" rel="noopener" class="internal_services external-link" onclick="">
                    Menu Creation
                    </a>
                    </li>
        
                    <li>              
                    <a title="Role Creation" aria-label="Role Creation" href="http://182.71.158.136:8000/services/exempted-establishments/performance-evaluation-of-exempted-establishments" rel="noopener" class="internal_services external-link" onclick="">
                    Role Creation
                    </a>
                    </li>
        
                    <li>              
                    <a title="Menu Role Mapping" aria-label="Menu Role Mapping" href="http://182.71.158.136:8000/services/exempted-establishments/performance-evaluation-of-exempted-establishments" rel="noopener" class="internal_services external-link" onclick="">
                    Menu Role Mapping
                    </a>
                    </li>
            
        
                </ul>
                </div>
                </div>
                </div>
    


    </div>    
</div>
                       
                       